<!DOCTYPE html>
<html>
<title>Code Drop</title>
<head>
<meta charset="utf-8"/>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/css/style.css">
<style>
</style>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</head>
<body >
<!-- Navbar (sit on top) -->
{{!-- <nav class="nav-bar" id="myNavbar">
    <span class="nav-bar__app-icon">CodeDrop</span>
    <span class="nav-bar__nav-icons-cont">
      {{#if user}}
        {{#ifCond currentPage 'dashboard'}}
          <a href="/dashboard" class="nav-bar__nav-icon--clicked">New Code</a>
        {{else}}
          <a href="/dashboard" class="nav-bar__nav-icon">New Code</a>
        {{/ifCond}}
        {{#ifCond currentPage 'mycodes'}}
          <a href="/mycodes" class="nav-bar__nav-icon--clicked">My Codes</a>
        {{else}}
          <a href="/mycodes" class="nav-bar__nav-icon">My Codes</a>
        {{/ifCond}}
          <a href="/logout" class="nav-bar__nav-icon" >Logout</a>
      {{/if}}
    </span>
</nav> --}}
<!-- Container (About Section) -->
<br>
{{#if success_msg}}
<div class="w3-container w3-section w3-green">
<span onclick="this.parentElement.style.display='none'" class="w3-closebtn" style="cursor: pointer;">&times;</span>
  {{success_msg}}
</div>
{{/if}}
{{# if error_msg}}
<div class="w3-container w3-section w3-red">
<span onclick="this.parentElement.style.display='none'" class="w3-closebtn" style="cursor: pointer;">&times;</span>
  {{error_msg}}
</div>
{{/if}}
{{#if error}}
<div class="w3-container w3-section w3-red">
<span onclick="this.parentElement.style.display='none'" class="w3-closebtn" style="cursor: pointer;">&times;</span>
  {{error}}
</div>
{{/if}}

{{{body}}}
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown1").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('#dropbutn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

</script>

</body>
</html>