<body>
  <nav class="nav-bar" id="myNavbar">
    <span class="nav-bar__app-icon">CodeDrop</span>
    <span class="nav-bar__nav-icons-cont">
      {{#if user}}
          <a href="/dashboard" class="nav-bar__nav-icon">New Code</a>
          <a href="/mycodes" class="nav-bar__nav-icon--clicked">My Codes</a>
          <a href="/logout" class="nav-bar__nav-icon" >Logout</a>
      {{/if}}
    </span>
</nav>
<div class="grid-container-compilation ">
  <div class="grid-header-compilation">#</div>
  <div class="grid-header-compilation">When</div>
  <div class="grid-header-compilation">Lang</div>  
  <div class="grid-header-compilation">Verdict</div>
  <div class="grid-header-compilation">Time</div>
  <div class="grid-header-compilation">Memory</div>  

{{#if strcodes}}
    {{#each strcodes}}
    <div class="grid-item-compilation" style="font-weight: lighter;"><a  onclick="document.getElementById({{this.id}}).style.display='block'"  style="color: blue;text-decoration: underline;cursor: pointer;">{{this.id}}</a></div>
    <div class="grid-item-compilation" style="font-weight: normal;">{{this.creation}}</div>
    <div class="grid-item-compilation">{{this.lang}}</div>
    {{#ifCond this.verdict "Accepted"}}
      <div class="grid-item-compilation" style="color: green;">{{this.verdict}}</div>  
    {{else}}
     <div class="grid-item-compilation" style="color: red;">{{this.verdict}}</div>
    {{/ifCond}}
    <div class="grid-item-compilation" style="font-weight: normal;">{{this.execution_time}} ms</div>
    <div class="grid-item-compilation" style="font-weight: normal;">0 KB</div>
    <div id={{this.id}} class="w3-modal">
      <div class="submission-modal">
        <header class="submission-modal__header"> 
          <span onclick="document.getElementById({{this.id}}).style.display='none'" class="submission-modal__header__close-icon">&times;</span>
          <span class="submission-modal__header__text">CODE ID:{{this.id}}</span>
        </header>
        <div class="submission-modal__body">
          <pre style="font-weight:600;height: 300px;overflow:auto;background-color: #fff;color:#333;">{{this.code}}</pre>
        </div>
        <footer class="submission-modal__footer">
          <span class="submission-modal__footer__text">{{this.username}}'s submission</span> 
        </footer>
      </div>
    </div>
    {{/each}}
{{else}}
    <p><em>You haven't made any submissions yet.</em></p>
{{/if}}
</div>
</body>